/*!********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/content/modalPasteViewer/contentModalPaste.scss ***!
  \********************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap);
/*!************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/content/modalPasteViewer/contentModalPaste.scss (1) ***!
  \************************************************************************************************************************************************************************************************************************/
.modalWrapperex {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.231372549);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  opacity: 0;
}
.modalWrapper__activeex {
  opacity: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.topex {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.topex span {
  cursor: pointer;
  padding: 2px;
  border: 1px solid rgba(0, 0, 0, 0.231372549);
}

.modalex {
  max-width: 70%;
  height: auto;
  padding: 7px;
  background: #fff;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 5px;
}

.wrapperModalex {
  display: flex;
  flex: 1;
}

.navbar__itemex {
  list-style: none;
}

.navbar__item__activeex:before {
  content: "";
  position: absolute;
  opacity: 0;
  z-index: 2;
  top: 0;
  left: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  background: #406ff3;
  border-radius: 17.5px;
  transition: 250ms cubic-bezier(1, 0.2, 0.1, 1.2) all;
}
.navbarex:not(:hover) .navbar__item__activeex:focus span {
  opacity: 1;
  transform: translate(0);
}

body {
  background: #eaeef6;
  font-family: "Open Sans", sans-serif;
}

.navbarex {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background: #fff;
  border-radius: 10px;
  padding: 1rem 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.03);
  height: calc(100vh - 4rem);
}
.navbar__linkex {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 5.5rem;
  color: #6a778e;
  transition: 250ms ease all;
  transform: translateX(-40px);
  color: #000;
  z-index: 5;
}
.navbar__linkex span {
  position: absolute;
  left: 100%;
  transform: translate(-2rem);
  margin-left: 1rem;
  opacity: 0;
  pointer-events: none;
  color: #406ff3;
  background: #fff;
  padding: 0.75rem;
  transition: 250ms ease all;
  border-radius: 17.5px;
}
.navbar__linkex:hover {
  color: #fff;
}
.navbarex:not(:hover) .navbar__linkex:focus span, .navbar__linkex:hover span {
  opacity: 1;
  transform: translate(0);
}
.navbar__menuex {
  position: relative;
}
.navbar__itemex:last-child:before {
  content: "";
  position: absolute;
  opacity: 0;
  z-index: 2;
  top: 0;
  left: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  background: #406ff3;
  border-radius: 17.5px;
  transition: 250ms cubic-bezier(1, 0.2, 0.1, 1.2) all;
}
.navbar__itemex:first-child:nth-last-child(1):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(1) ~ li:hover ~ li:last-child:before {
  opacity: 1;
}
.navbar__itemex:first-child:nth-last-child(1):last-child:hover:before, .navbar__itemex:first-child:nth-last-child(1) ~ li:last-child:hover:before {
  opacity: 1;
}
.navbar__itemex:first-child:nth-last-child(1):last-child:hover:before, .navbar__itemex:first-child:nth-last-child(1) ~ li:last-child:hover:before {
  top: 0%;
  animation: gooeyEffect-1ex 250ms 1;
}
@keyframes gooeyEffect-1ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(2):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(2) ~ li:hover ~ li:last-child:before {
  opacity: 1;
}
.navbar__itemex:first-child:nth-last-child(2):last-child:hover:before, .navbar__itemex:first-child:nth-last-child(2) ~ li:last-child:hover:before {
  opacity: 1;
}
.navbar__itemex:first-child:nth-last-child(2):nth-child(1):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(2) ~ li:nth-child(1):hover ~ li:last-child:before {
  top: 0%;
  animation: gooeyEffect-1ex 250ms 1;
}
@keyframes gooeyEffect-1ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(2):last-child:hover:before, .navbar__itemex:first-child:nth-last-child(2) ~ li:last-child:hover:before {
  top: 50%;
  animation: gooeyEffect-2ex 250ms 1;
}
@keyframes gooeyEffect-2ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(3):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(3) ~ li:hover ~ li:last-child:before {
  opacity: 1;
}
.navbar__itemex:first-child:nth-last-child(3):last-child:hover:before, .navbar__itemex:first-child:nth-last-child(3) ~ li:last-child:hover:before {
  opacity: 1;
}
.navbar__itemex:first-child:nth-last-child(3):nth-child(1):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(3) ~ li:nth-child(1):hover ~ li:last-child:before {
  top: 0%;
  animation: gooeyEffect-1ex 250ms 1;
}
@keyframes gooeyEffect-1ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(3):nth-child(2):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(3) ~ li:nth-child(2):hover ~ li:last-child:before {
  top: 33.3333333333%;
  animation: gooeyEffect-2ex 250ms 1;
}
@keyframes gooeyEffect-2ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(3):last-child:hover:before, .navbar__itemex:first-child:nth-last-child(3) ~ li:last-child:hover:before {
  top: 66.6666666667%;
  animation: gooeyEffect-3ex 250ms 1;
}
@keyframes gooeyEffect-3ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(4):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(4) ~ li:hover ~ li:last-child:before {
  opacity: 1;
}
.navbar__itemex:first-child:nth-last-child(4):last-child:hover:before, .navbar__itemex:first-child:nth-last-child(4) ~ li:last-child:hover:before {
  opacity: 1;
}
.navbar__itemex:first-child:nth-last-child(4):nth-child(1):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(4) ~ li:nth-child(1):hover ~ li:last-child:before {
  top: 0%;
  animation: gooeyEffect-1ex 250ms 1;
}
@keyframes gooeyEffect-1ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(4):nth-child(2):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(4) ~ li:nth-child(2):hover ~ li:last-child:before {
  top: 25%;
  animation: gooeyEffect-2ex 250ms 1;
}
@keyframes gooeyEffect-2ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(4):nth-child(3):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(4) ~ li:nth-child(3):hover ~ li:last-child:before {
  top: 50%;
  animation: gooeyEffect-3ex 250ms 1;
}
@keyframes gooeyEffect-3ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(4):last-child:hover:before, .navbar__itemex:first-child:nth-last-child(4) ~ li:last-child:hover:before {
  top: 75%;
  animation: gooeyEffect-4ex 250ms 1;
}
@keyframes gooeyEffect-4ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(5):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(5) ~ li:hover ~ li:last-child:before {
  opacity: 1;
}
.navbar__itemex:first-child:nth-last-child(5):last-child:hover:before, .navbar__itemex:first-child:nth-last-child(5) ~ li:last-child:hover:before {
  opacity: 1;
}
.navbar__itemex:first-child:nth-last-child(5):nth-child(1):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(5) ~ li:nth-child(1):hover ~ li:last-child:before {
  top: 0%;
  animation: gooeyEffect-1ex 250ms 1;
}
@keyframes gooeyEffect-1ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(5):nth-child(2):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(5) ~ li:nth-child(2):hover ~ li:last-child:before {
  top: 20%;
  animation: gooeyEffect-2ex 250ms 1;
}
@keyframes gooeyEffect-2ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(5):nth-child(3):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(5) ~ li:nth-child(3):hover ~ li:last-child:before {
  top: 40%;
  animation: gooeyEffect-3ex 250ms 1;
}
@keyframes gooeyEffect-3ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(5):nth-child(4):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(5) ~ li:nth-child(4):hover ~ li:last-child:before {
  top: 60%;
  animation: gooeyEffect-4ex 250ms 1;
}
@keyframes gooeyEffect-4ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(5):last-child:hover:before, .navbar__itemex:first-child:nth-last-child(5) ~ li:last-child:hover:before {
  top: 80%;
  animation: gooeyEffect-5ex 250ms 1;
}
@keyframes gooeyEffect-5ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(6):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(6) ~ li:hover ~ li:last-child:before {
  opacity: 1;
}
.navbar__itemex:first-child:nth-last-child(6):last-child:hover:before, .navbar__itemex:first-child:nth-last-child(6) ~ li:last-child:hover:before {
  opacity: 1;
}
.navbar__itemex:first-child:nth-last-child(6):nth-child(1):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(6) ~ li:nth-child(1):hover ~ li:last-child:before {
  top: 0%;
  animation: gooeyEffect-1ex 250ms 1;
}
@keyframes gooeyEffect-1ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(6):nth-child(2):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(6) ~ li:nth-child(2):hover ~ li:last-child:before {
  top: 16.6666666667%;
  animation: gooeyEffect-2ex 250ms 1;
}
@keyframes gooeyEffect-2ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(6):nth-child(3):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(6) ~ li:nth-child(3):hover ~ li:last-child:before {
  top: 33.3333333333%;
  animation: gooeyEffect-3ex 250ms 1;
}
@keyframes gooeyEffect-3ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(6):nth-child(4):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(6) ~ li:nth-child(4):hover ~ li:last-child:before {
  top: 50%;
  animation: gooeyEffect-4ex 250ms 1;
}
@keyframes gooeyEffect-4ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(6):nth-child(5):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(6) ~ li:nth-child(5):hover ~ li:last-child:before {
  top: 66.6666666667%;
  animation: gooeyEffect-5ex 250ms 1;
}
@keyframes gooeyEffect-5ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(6):last-child:hover:before, .navbar__itemex:first-child:nth-last-child(6) ~ li:last-child:hover:before {
  top: 83.3333333333%;
  animation: gooeyEffect-6ex 250ms 1;
}
@keyframes gooeyEffect-6ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(7):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(7) ~ li:hover ~ li:last-child:before {
  opacity: 1;
}
.navbar__itemex:first-child:nth-last-child(7):last-child:hover:before, .navbar__itemex:first-child:nth-last-child(7) ~ li:last-child:hover:before {
  opacity: 1;
}
.navbar__itemex:first-child:nth-last-child(7):nth-child(1):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(7) ~ li:nth-child(1):hover ~ li:last-child:before {
  top: 0%;
  animation: gooeyEffect-1ex 250ms 1;
}
@keyframes gooeyEffect-1ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(7):nth-child(2):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(7) ~ li:nth-child(2):hover ~ li:last-child:before {
  top: 14.2857142857%;
  animation: gooeyEffect-2ex 250ms 1;
}
@keyframes gooeyEffect-2ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(7):nth-child(3):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(7) ~ li:nth-child(3):hover ~ li:last-child:before {
  top: 28.5714285714%;
  animation: gooeyEffect-3ex 250ms 1;
}
@keyframes gooeyEffect-3ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(7):nth-child(4):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(7) ~ li:nth-child(4):hover ~ li:last-child:before {
  top: 42.8571428571%;
  animation: gooeyEffect-4ex 250ms 1;
}
@keyframes gooeyEffect-4ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(7):nth-child(5):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(7) ~ li:nth-child(5):hover ~ li:last-child:before {
  top: 57.1428571429%;
  animation: gooeyEffect-5ex 250ms 1;
}
@keyframes gooeyEffect-5ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(7):nth-child(6):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(7) ~ li:nth-child(6):hover ~ li:last-child:before {
  top: 71.4285714286%;
  animation: gooeyEffect-6ex 250ms 1;
}
@keyframes gooeyEffect-6ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(7):last-child:hover:before, .navbar__itemex:first-child:nth-last-child(7) ~ li:last-child:hover:before {
  top: 85.7142857143%;
  animation: gooeyEffect-7ex 250ms 1;
}
@keyframes gooeyEffect-7ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(8):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(8) ~ li:hover ~ li:last-child:before {
  opacity: 1;
}
.navbar__itemex:first-child:nth-last-child(8):last-child:hover:before, .navbar__itemex:first-child:nth-last-child(8) ~ li:last-child:hover:before {
  opacity: 1;
}
.navbar__itemex:first-child:nth-last-child(8):nth-child(1):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(8) ~ li:nth-child(1):hover ~ li:last-child:before {
  top: 0%;
  animation: gooeyEffect-1ex 250ms 1;
}
@keyframes gooeyEffect-1ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(8):nth-child(2):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(8) ~ li:nth-child(2):hover ~ li:last-child:before {
  top: 12.5%;
  animation: gooeyEffect-2ex 250ms 1;
}
@keyframes gooeyEffect-2ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(8):nth-child(3):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(8) ~ li:nth-child(3):hover ~ li:last-child:before {
  top: 25%;
  animation: gooeyEffect-3ex 250ms 1;
}
@keyframes gooeyEffect-3ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(8):nth-child(4):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(8) ~ li:nth-child(4):hover ~ li:last-child:before {
  top: 37.5%;
  animation: gooeyEffect-4ex 250ms 1;
}
@keyframes gooeyEffect-4ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(8):nth-child(5):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(8) ~ li:nth-child(5):hover ~ li:last-child:before {
  top: 50%;
  animation: gooeyEffect-5ex 250ms 1;
}
@keyframes gooeyEffect-5ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(8):nth-child(6):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(8) ~ li:nth-child(6):hover ~ li:last-child:before {
  top: 62.5%;
  animation: gooeyEffect-6ex 250ms 1;
}
@keyframes gooeyEffect-6ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(8):nth-child(7):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(8) ~ li:nth-child(7):hover ~ li:last-child:before {
  top: 75%;
  animation: gooeyEffect-7ex 250ms 1;
}
@keyframes gooeyEffect-7ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(8):last-child:hover:before, .navbar__itemex:first-child:nth-last-child(8) ~ li:last-child:hover:before {
  top: 87.5%;
  animation: gooeyEffect-8ex 250ms 1;
}
@keyframes gooeyEffect-8ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(9):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(9) ~ li:hover ~ li:last-child:before {
  opacity: 1;
}
.navbar__itemex:first-child:nth-last-child(9):last-child:hover:before, .navbar__itemex:first-child:nth-last-child(9) ~ li:last-child:hover:before {
  opacity: 1;
}
.navbar__itemex:first-child:nth-last-child(9):nth-child(1):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(9) ~ li:nth-child(1):hover ~ li:last-child:before {
  top: 0%;
  animation: gooeyEffect-1ex 250ms 1;
}
@keyframes gooeyEffect-1ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(9):nth-child(2):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(9) ~ li:nth-child(2):hover ~ li:last-child:before {
  top: 11.1111111111%;
  animation: gooeyEffect-2ex 250ms 1;
}
@keyframes gooeyEffect-2ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(9):nth-child(3):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(9) ~ li:nth-child(3):hover ~ li:last-child:before {
  top: 22.2222222222%;
  animation: gooeyEffect-3ex 250ms 1;
}
@keyframes gooeyEffect-3ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(9):nth-child(4):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(9) ~ li:nth-child(4):hover ~ li:last-child:before {
  top: 33.3333333333%;
  animation: gooeyEffect-4ex 250ms 1;
}
@keyframes gooeyEffect-4ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(9):nth-child(5):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(9) ~ li:nth-child(5):hover ~ li:last-child:before {
  top: 44.4444444444%;
  animation: gooeyEffect-5ex 250ms 1;
}
@keyframes gooeyEffect-5ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(9):nth-child(6):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(9) ~ li:nth-child(6):hover ~ li:last-child:before {
  top: 55.5555555556%;
  animation: gooeyEffect-6ex 250ms 1;
}
@keyframes gooeyEffect-6ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(9):nth-child(7):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(9) ~ li:nth-child(7):hover ~ li:last-child:before {
  top: 66.6666666667%;
  animation: gooeyEffect-7ex 250ms 1;
}
@keyframes gooeyEffect-7ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(9):nth-child(8):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(9) ~ li:nth-child(8):hover ~ li:last-child:before {
  top: 77.7777777778%;
  animation: gooeyEffect-8ex 250ms 1;
}
@keyframes gooeyEffect-8ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(9):last-child:hover:before, .navbar__itemex:first-child:nth-last-child(9) ~ li:last-child:hover:before {
  top: 88.8888888889%;
  animation: gooeyEffect-9ex 250ms 1;
}
@keyframes gooeyEffect-9ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(10):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(10) ~ li:hover ~ li:last-child:before {
  opacity: 1;
}
.navbar__itemex:first-child:nth-last-child(10):last-child:hover:before, .navbar__itemex:first-child:nth-last-child(10) ~ li:last-child:hover:before {
  opacity: 1;
}
.navbar__itemex:first-child:nth-last-child(10):nth-child(1):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(10) ~ li:nth-child(1):hover ~ li:last-child:before {
  top: 0%;
  animation: gooeyEffect-1ex 250ms 1;
}
@keyframes gooeyEffect-1ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(10):nth-child(2):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(10) ~ li:nth-child(2):hover ~ li:last-child:before {
  top: 10%;
  animation: gooeyEffect-2ex 250ms 1;
}
@keyframes gooeyEffect-2ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(10):nth-child(3):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(10) ~ li:nth-child(3):hover ~ li:last-child:before {
  top: 20%;
  animation: gooeyEffect-3ex 250ms 1;
}
@keyframes gooeyEffect-3ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(10):nth-child(4):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(10) ~ li:nth-child(4):hover ~ li:last-child:before {
  top: 30%;
  animation: gooeyEffect-4ex 250ms 1;
}
@keyframes gooeyEffect-4ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(10):nth-child(5):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(10) ~ li:nth-child(5):hover ~ li:last-child:before {
  top: 40%;
  animation: gooeyEffect-5ex 250ms 1;
}
@keyframes gooeyEffect-5ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(10):nth-child(6):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(10) ~ li:nth-child(6):hover ~ li:last-child:before {
  top: 50%;
  animation: gooeyEffect-6ex 250ms 1;
}
@keyframes gooeyEffect-6ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(10):nth-child(7):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(10) ~ li:nth-child(7):hover ~ li:last-child:before {
  top: 60%;
  animation: gooeyEffect-7ex 250ms 1;
}
@keyframes gooeyEffect-7ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(10):nth-child(8):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(10) ~ li:nth-child(8):hover ~ li:last-child:before {
  top: 70%;
  animation: gooeyEffect-8ex 250ms 1;
}
@keyframes gooeyEffect-8ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(10):nth-child(9):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(10) ~ li:nth-child(9):hover ~ li:last-child:before {
  top: 80%;
  animation: gooeyEffect-9ex 250ms 1;
}
@keyframes gooeyEffect-9ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(10):last-child:hover:before, .navbar__itemex:first-child:nth-last-child(10) ~ li:last-child:hover:before {
  top: 90%;
  animation: gooeyEffect-10ex 250ms 1;
}
@keyframes gooeyEffect-10ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(11):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(11) ~ li:hover ~ li:last-child:before {
  opacity: 1;
}
.navbar__itemex:first-child:nth-last-child(11):last-child:hover:before, .navbar__itemex:first-child:nth-last-child(11) ~ li:last-child:hover:before {
  opacity: 1;
}
.navbar__itemex:first-child:nth-last-child(11):nth-child(1):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(11) ~ li:nth-child(1):hover ~ li:last-child:before {
  top: 0%;
  animation: gooeyEffect-1ex 250ms 1;
}
@keyframes gooeyEffect-1ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(11):nth-child(2):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(11) ~ li:nth-child(2):hover ~ li:last-child:before {
  top: 9.0909090909%;
  animation: gooeyEffect-2ex 250ms 1;
}
@keyframes gooeyEffect-2ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(11):nth-child(3):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(11) ~ li:nth-child(3):hover ~ li:last-child:before {
  top: 18.1818181818%;
  animation: gooeyEffect-3ex 250ms 1;
}
@keyframes gooeyEffect-3ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(11):nth-child(4):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(11) ~ li:nth-child(4):hover ~ li:last-child:before {
  top: 27.2727272727%;
  animation: gooeyEffect-4ex 250ms 1;
}
@keyframes gooeyEffect-4ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(11):nth-child(5):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(11) ~ li:nth-child(5):hover ~ li:last-child:before {
  top: 36.3636363636%;
  animation: gooeyEffect-5ex 250ms 1;
}
@keyframes gooeyEffect-5ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(11):nth-child(6):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(11) ~ li:nth-child(6):hover ~ li:last-child:before {
  top: 45.4545454545%;
  animation: gooeyEffect-6ex 250ms 1;
}
@keyframes gooeyEffect-6ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(11):nth-child(7):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(11) ~ li:nth-child(7):hover ~ li:last-child:before {
  top: 54.5454545455%;
  animation: gooeyEffect-7ex 250ms 1;
}
@keyframes gooeyEffect-7ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(11):nth-child(8):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(11) ~ li:nth-child(8):hover ~ li:last-child:before {
  top: 63.6363636364%;
  animation: gooeyEffect-8ex 250ms 1;
}
@keyframes gooeyEffect-8ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(11):nth-child(9):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(11) ~ li:nth-child(9):hover ~ li:last-child:before {
  top: 72.7272727273%;
  animation: gooeyEffect-9ex 250ms 1;
}
@keyframes gooeyEffect-9ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(11):nth-child(10):hover ~ li:last-child:before, .navbar__itemex:first-child:nth-last-child(11) ~ li:nth-child(10):hover ~ li:last-child:before {
  top: 81.8181818182%;
  animation: gooeyEffect-10ex 250ms 1;
}
@keyframes gooeyEffect-10ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__itemex:first-child:nth-last-child(11):last-child:hover:before, .navbar__itemex:first-child:nth-last-child(11) ~ li:last-child:hover:before {
  top: 90.9090909091%;
  animation: gooeyEffect-11ex 250ms 1;
}
@keyframes gooeyEffect-11ex {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

/*# sourceMappingURL=contentModalPaste.css.map*/