body {
  margin: 0;
}

// popup wrapper
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#navbarContainer {
  width: 400px;
  min-width: 400px;
  height: 370px;
  background-color: #ffcc80;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

#navbar {
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: absolute;
}

#bubbleWrapper {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  bottom: 25px;
}

.bubble {
  background-color: #fff;
  width: 50px;
  height: 50px;
  bottom: 85px;
  border-radius: 50%;
  z-index: 1;
  transform: translateY(120%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  opacity: 0;
}

#bubble1 {
  transform: translateY(0%);
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);

  > span {
    opacity: 0.7;
  }
}

#bgWrapper {
  filter: url(#goo);
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 60px;
}

#bg {
  background-color: #ffcc80;
  width: 120%;
  height: 100%;
  margin-left: -10%;
}

#bgBubble {
  position: absolute;
  background-color: #ffcc80;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  bottom: -50px;
  left: 50px;
  transform: translateX(-50%);
}

#menuWrapper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.menuElement {
  opacity: 0.4;
  transition: all 0.4s;
  transform: translateY(100%);
  cursor: pointer;
  width: 30px;
  height: 19px;

  &:hover {
    opacity: 1;
  }
}

#contentWrapper {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    color: #fff;
    font-family: sans-serif;
    font-weight: 400;
  }
}

.content {
  display: none;
  opacity: 0;
}

.bodyContent {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 78px);
  position: fixed;
  z-index: 10;
  padding: 10px;
  top: 0;
  left: 0;
}

// popup wrapper

// menu actions
.button {
  &.dark {
    --background: #000;
    --shadow: 0 2px 8px -1px #{rgba(#151924, 0.32)};
    --shadow-hover: 0 4px 20px -2px #{rgba(#151924, 0.5)};
  }
}

.button {
  --background: #275efe;
  --text: #000;
  --font-size: 16px;
  --duration: 0.44s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px #{rgba(#275efe, 0.32)};
  --shadow-hover: 0 4px 20px -2px #{rgba(#275efe, 0.5)};
  --font-shadow: var(--font-size);
  padding: 16px 32px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: var(--font-size);
  display: block;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  background: var(--background);
  color: var(--text);
  width: 100%;
  box-shadow: var(--shadow);
  transform: translateY(var(--y)) translateZ(0);
  transition:
    transform var(--duration) ease,
    box-shadow var(--duration) ease;

  div {
    display: flex;
    overflow: hidden;
    text-shadow: 0 var(--font-shadow) 0 var(--text);

    span {
      display: block;
      backface-visibility: hidden;
      font-style: normal;
      transition: transform var(--duration) ease;
      transform: translateY(var(--m)) translateZ(0);
      $i: 1;

      @while $i < 12 {
        &:nth-child(#{$i}) {
          transition-delay: calc($i / 20 + s);
        }

        $i: $i + 1;
      }
    }
  }

  &:hover {
    --y: var(--move-hover);
    --shadow: var(--shadow-hover);

    span {
      --m: calc(var(--font-size) * -1);
    }
  }

  &.reverse {
    --font-shadow: calc(var(--font-size) * -1);

    &:hover {
      span {
        --m: calc(var(--font-size));
      }
    }
  }
}

.dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;

  img {
    display: block;
    height: 28px;
  }
}

// menu actions
@keyframes shopWarnPush {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }

  70% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.wrapperWarning {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  animation: shopWarnPush 3s;
  animation-fill-mode: forwards;
}
