.name {
    margin-right: 10px;
    flex: 1;
}

.viewer_types .name {
    margin: 0;
}

.delete_btn,
.add_btn {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
}

.wrapperPageTwo {
    width: 100%;
    overflow: auto;
    min-height: 550px;
}

.wrapperViewersForPaste {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.viewer_types {
    list-style-type: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}

.viewer_types li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.orderInput {
    width: 40px;
}

.viewerWrapper {
    display: flex;
    align-items: center;
    gap: 10px;

    &__even {

        input {
            color: #fff !important;
        }

        background-color: #3c6684;
    }
}

.reload {
    margin-top: 15px;
}