.input {
  color: #000;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  font-size: 1.2rem;
  padding-inline: 1em;
  padding-block: 0.8em;

  &__small {
    height: 20px;
    font-size: 15px;
  }
}

.inputBorder {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.input:focus {
  outline: none;
}

.input:focus + .inputBorder {
  width: 100%;
}

.formControl {
  position: relative;
  --width-of-input: 300px;
}

.inputBorderAlt {
  height: 3px;
  background: #31556f;
  transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.inputAlt:focus + .inputBorderAlt {
  width: 100%;
}
