
.name {
    margin-right: 10px;
    flex: 1;
}

.viewer_types .name {
    margin: 0;
}

.delete_btn,
.add_btn {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
}