:root {
    --color-light: white;
    --color-dark: #212121;
    --color-signal: #31556f;

    --color-background: var(--color-light);
    --color-text: var(--color-dark);
    --color-accent: var(--color-signal);

    --size-radius: 4px;
}


.input {
    position: relative;


    &__label {
        position: absolute;
        left: 0;
        top: 50%;
        padding: 10px;
        margin-left: 10px;
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 3px;
        white-space: nowrap;
        transform: translate(0, -50%);
        transform-origin: 0 0;
        background: var(--color-background);
        transition: transform 120ms ease-in;
        font-weight: bold;
        line-height: 1.2;
    }

    &__field {
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        display: block;
        border: 3px solid #dedede;
        color: #000;
        background: transparent;
        border-radius: var(--size-radius);
        background: #fff;
        outline: none;

        &:focus,
        &:not(:placeholder-shown) {
            &+.input__label {
                transform: translate(6px, -7px) scale(.8);
                color: var(--color-accent);
                top: 0;
                font-size: 20px;
                padding-bottom: 10px;
            }
        }
    }
}