/*!*************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/contentScripts/componets/AppModalPaste/AppModalPaste.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap);
/*!****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/screens/CopyViewer/CopyViewer.module.scss ***!
  \****************************************************************************************************************************************/
.N1uvGsVL4qGXjOCVAFTX {
  margin-right: 10px;
  flex: 1;
  font-size: 15px;
}

.nE204NzmXhe24AG0MOgx .N1uvGsVL4qGXjOCVAFTX {
  margin: 0;
}

.flzqcfZQrdwcLa91HMQw {
  margin-right: 10px;
}

.j9xCALOy39U0ivjApBvg {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.Jx407bIoUoJsSjeWDRiP {
  max-height: 400px;
  overflow-y: auto;
}

.DaAHBl0EY3OHes2da5nw {
  margin-right: 10px;
}
/*!***************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/componets/simple/SimpleButton/SimpleButton.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************/
.extentions__button__p8NIs {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
}
.extentions__button__p8NIs span {
  color: #fff;
}
/*!*******************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/componets/simple/DropDown/DropDown.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
/* Dropdown Button */
.extentions__dropbtn__zN9fC {
  background-color: #31556f;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Dropdown button on hover & focus */
.extentions__dropbtn__zN9fC:hover,
.extentions__dropbtn__zN9fC:focus {
  background-color: #31556f;
}

/* The container <div> - needed to position the dropdown content */
.extentions__dropdown__CRPOX {
  position: relative;
  display: inline-block;
  min-width: 200px;
}

/* Dropdown Content (Hidden by Default) */
.extentions__dropdown_content__sBTck {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow-y: auto;
  max-height: 400px;
}

/* Links inside the dropdown */
.extentions__dropdown_content__sBTck a {
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.extentions__dropdown_content__sBTck a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown_content container when the user clicks on the dropdown button) */
.extentions__show__fJ88K {
  display: block;
}

.extentions__selectItem__xkDkk {
  cursor: pointer;
}

.extentions__selectItemText__Rjry1 {
  white-space: nowrap;
  /* Запрещаем перенос строк */
  overflow: hidden;
  /* Обрезаем все, что не помещается в область */
  /* Цвет фона */
  padding: 5px;
  /* Поля вокруг текста */
  text-overflow: ellipsis;
  /* Добавляем многоточие */
}
/*!*************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/componets/simple/InputCustom/InputCustom.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************/
:root {
  --color-light: white;
  --color-dark: #212121;
  --color-signal: #31556f;
  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);
  --size-radius: 4px;
}

.extentions__input___m9o9 {
  position: relative;
}
.extentions__input___m9o9 input {
  color: #000 !important;
}
.extentions__input__label__HkiWg {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 10px;
  margin-left: 10px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 3px;
  white-space: nowrap;
  transform: translate(0, -50%);
  transform-origin: 0 0;
  background: var(--color-background);
  transition: transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
}
.extentions__input__field___Ap3d {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  display: block;
  border: 3px solid #dedede;
  color: #000;
  background: transparent;
  border-radius: var(--size-radius);
  background: #fff;
  outline: none;
}
.extentions__input__field___Ap3d:focus + .extentions__input__label__HkiWg, .extentions__input__field___Ap3d:not(:placeholder-shown) + .extentions__input__label__HkiWg {
  transform: translate(6px, -7px) scale(0.8);
  color: var(--color-accent);
  top: 0;
  font-size: 20px;
  padding-bottom: 10px;
}
/*!*************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/componets/simple/InputWithUnderLineColor/InputWithUnderLineColor.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************/
.extentions__input__rzgra {
  color: #000;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
}

.extentions__inputBorder__AI9ZF {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.extentions__input__rzgra:focus {
  outline: none;
}

.extentions__input__rzgra:focus + .extentions__inputBorder__AI9ZF {
  width: 100%;
}

.extentions__formControl___MR8a {
  position: relative;
  --width-of-input: 300px;
}

.extentions__inputAlt___sfmA {
  font-size: 1.2rem;
  padding-inline: 1em;
  padding-block: 0.8em;
}

.extentions__inputBorderAlt__ffUea {
  height: 3px;
  background: #31556f;
  transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.extentions__inputAlt___sfmA:focus + .extentions__inputBorderAlt__ffUea {
  width: 100%;
}
/*!*******************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/componets/simple/SwitchWithText/SwitchWithText.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************/
.extentions__wrapperButton__dw4Lp {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.extentions__wrapperButton__bold__eGt5H {
  justify-content: center;
  font-size: 17px;
  font-weight: bold;
}
.extentions__wrapperButton__dw4Lp p {
  margin: 0;
}

/* The switch - the box around the slider */
.extentions__switch__jXkN_ {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 21px;
}

.extentions__switch__jXkN_ input {
  opacity: 0;
  width: 0;
  height: 0;
  width: 35px;
}

/* The slider */
.extentions__slider__x6pUc {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 35px;
}

.extentions__slider__x6pUc:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .extentions__slider__x6pUc {
  background-color: #31556f;
}

input:focus + .extentions__slider__x6pUc {
  box-shadow: 0 0 1px #31556f;
}

input:checked + .extentions__slider__x6pUc:before {
  transition: all 0.7s;
  transform: translateX(14px);
}

/* Rounded sliders */
.extentions__slider__x6pUc.extentions__round__F3rf2 {
  border-radius: 34px;
}

.extentions__slider__x6pUc.extentions__round__F3rf2:before {
  border-radius: 50%;
}
/*!***************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/componets/simple/WrapperNeumorphism/WrapperNeumorphism.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************/
.extentions__wrapper__rmJmE {
  border-radius: 51px;
  background: #ffffff;
  box-shadow: inset 19px 19px 38px #d9d9d9, inset -19px -19px 38px #ffffff;
  padding: 20px;
}
/*!**************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/screens/CopyModal/CopyModal.module.scss ***!
  \**************************************************************************************************************************************/
.S0AbuSPTshd9md6jFm6X {
  margin-right: 10px;
  flex: 1;
}
.S0AbuSPTshd9md6jFm6X div input {
  padding-top: 7px;
  padding-bottom: 7px;
}

.NTfLR5KnuLXPaKyLERpm .S0AbuSPTshd9md6jFm6X {
  margin: 0;
}

.K7fErSoMJ_YsFGfCFyMe,
.gNw_stnvBVT38LjZFaf0 {
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  background-color: #CC3333;
  color: #fff;
  cursor: pointer;
}

.UqvRPO2ubZ9bEBC0P7Tk {
  width: 100%;
  overflow: auto;
  min-height: 550px;
}

.FkZ8q5LK74LqqhXvNyZ3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.NTfLR5KnuLXPaKyLERpm {
  list-style-type: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

.NTfLR5KnuLXPaKyLERpm li {
  display: flex;
  align-items: center;
}

.n9K1GgZr5kT1FmD4gPdH {
  width: 40px;
}

.ZZyr6KjXedLmJNVCo7au {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 5px;
}
.YzRTFqVvnHe0pep82uhW {
  background-color: #e5f6ff;
}

.tLq99mrIkfgOQ_QBiJdQ {
  margin-top: 15px;
}
/*!*****************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/contentScripts/componets/AppModalPaste/AppModalPaste.module.scss (1) ***!
  \*****************************************************************************************************************************************************************************************************************************************/
.extentions__modalWrapper__gQIsX {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.231372549);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  opacity: 0;
}
.extentions__modalWrapper__active__jJSh7 {
  opacity: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
}

.extentions__top__OUy3I {
  height: 30px;
  margin-left: auto;
  width: auto;
  cursor: pointer;
  padding: 2px;
}

.extentions__modal__oEcwV {
  max-width: 70%;
  height: auto;
  padding: 7px;
  background: #fff;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 5px;
}

.extentions__wrapperModal__v_ye3 {
  display: flex;
  flex: 1;
  position: relative;
}

.extentions__navbar__item__hcB2c {
  list-style: none;
}

body {
  background: #eaeef6;
  font-family: "Open Sans", sans-serif;
}

.extentions__navbar__LknYR {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background: #fff;
  border-radius: 10px;
  padding: 1rem 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.03);
  height: calc(100vh - 4rem);
}
.extentions__navbar__link__active__N1DW_ {
  border-radius: 5px;
  background-color: #406ff3;
}
.extentions__navbar__link__active__N1DW_ svg {
  stroke: #fff;
}
.extentions__navbar__link__L1vMh {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 5.5rem;
  color: #6a778e;
  transition: 250ms ease all;
  transform: translateX(-40px);
  color: #000;
  z-index: 5;
}
.extentions__navbar__link__L1vMh span {
  position: absolute;
  left: 100%;
  transform: translate(-2rem);
  margin-left: 1rem;
  opacity: 0;
  pointer-events: none;
  color: #406ff3;
  background: #fff;
  padding: 0.75rem;
  transition: 250ms ease all;
  border-radius: 17.5px;
}
.extentions__navbar__link__L1vMh:hover {
  color: #fff;
}
.extentions__navbar__LknYR:not(:hover) .extentions__navbar__link__L1vMh:focus span, .extentions__navbar__link__L1vMh:hover span {
  opacity: 1;
  transform: translate(0);
}
.extentions__navbar__menu__avcvs {
  position: relative;
}
.extentions__navbar__menu__avcvs:hover .extentions__navbar__link__active__N1DW_ {
  background-color: transparent;
}
.extentions__navbar__menu__avcvs:hover .extentions__navbar__link__active__N1DW_ svg {
  stroke: #000;
}
.extentions__navbar__item__hcB2c:last-child:before {
  content: "";
  position: absolute;
  opacity: 0;
  top: 0;
  left: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  background: #406ff3;
  border-radius: 17.5px;
  transition: 250ms cubic-bezier(1, 0.2, 0.1, 1.2) all;
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(1):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(1) ~ li:hover ~ li:last-child:before {
  opacity: 1;
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(1):last-child:hover:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(1) ~ li:last-child:hover:before {
  opacity: 1;
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(1):last-child:hover:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(1) ~ li:last-child:hover:before {
  top: 0%;
  animation: extentions__gooeyEffect-1__F_nSf 250ms 1;
}
@keyframes extentions__gooeyEffect-1__F_nSf {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(2):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(2) ~ li:hover ~ li:last-child:before {
  opacity: 1;
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(2):last-child:hover:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(2) ~ li:last-child:hover:before {
  opacity: 1;
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(2):nth-child(1):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(2) ~ li:nth-child(1):hover ~ li:last-child:before {
  top: 0%;
  animation: extentions__gooeyEffect-1__F_nSf 250ms 1;
}
@keyframes extentions__gooeyEffect-1__F_nSf {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(2):last-child:hover:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(2) ~ li:last-child:hover:before {
  top: 50%;
  animation: extentions__gooeyEffect-2__XkPlo 250ms 1;
}
@keyframes extentions__gooeyEffect-2__XkPlo {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(3):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(3) ~ li:hover ~ li:last-child:before {
  opacity: 1;
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(3):last-child:hover:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(3) ~ li:last-child:hover:before {
  opacity: 1;
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(3):nth-child(1):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(3) ~ li:nth-child(1):hover ~ li:last-child:before {
  top: 0%;
  animation: extentions__gooeyEffect-1__F_nSf 250ms 1;
}
@keyframes extentions__gooeyEffect-1__F_nSf {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(3):nth-child(2):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(3) ~ li:nth-child(2):hover ~ li:last-child:before {
  top: 33.3333333333%;
  animation: extentions__gooeyEffect-2__XkPlo 250ms 1;
}
@keyframes extentions__gooeyEffect-2__XkPlo {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(3):last-child:hover:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(3) ~ li:last-child:hover:before {
  top: 66.6666666667%;
  animation: extentions__gooeyEffect-3__fdXlS 250ms 1;
}
@keyframes extentions__gooeyEffect-3__fdXlS {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(4):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(4) ~ li:hover ~ li:last-child:before {
  opacity: 1;
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(4):last-child:hover:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(4) ~ li:last-child:hover:before {
  opacity: 1;
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(4):nth-child(1):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(4) ~ li:nth-child(1):hover ~ li:last-child:before {
  top: 0%;
  animation: extentions__gooeyEffect-1__F_nSf 250ms 1;
}
@keyframes extentions__gooeyEffect-1__F_nSf {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(4):nth-child(2):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(4) ~ li:nth-child(2):hover ~ li:last-child:before {
  top: 25%;
  animation: extentions__gooeyEffect-2__XkPlo 250ms 1;
}
@keyframes extentions__gooeyEffect-2__XkPlo {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(4):nth-child(3):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(4) ~ li:nth-child(3):hover ~ li:last-child:before {
  top: 50%;
  animation: extentions__gooeyEffect-3__fdXlS 250ms 1;
}
@keyframes extentions__gooeyEffect-3__fdXlS {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(4):last-child:hover:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(4) ~ li:last-child:hover:before {
  top: 75%;
  animation: extentions__gooeyEffect-4__FAd1I 250ms 1;
}
@keyframes extentions__gooeyEffect-4__FAd1I {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(5):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(5) ~ li:hover ~ li:last-child:before {
  opacity: 1;
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(5):last-child:hover:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(5) ~ li:last-child:hover:before {
  opacity: 1;
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(5):nth-child(1):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(5) ~ li:nth-child(1):hover ~ li:last-child:before {
  top: 0%;
  animation: extentions__gooeyEffect-1__F_nSf 250ms 1;
}
@keyframes extentions__gooeyEffect-1__F_nSf {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(5):nth-child(2):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(5) ~ li:nth-child(2):hover ~ li:last-child:before {
  top: 20%;
  animation: extentions__gooeyEffect-2__XkPlo 250ms 1;
}
@keyframes extentions__gooeyEffect-2__XkPlo {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(5):nth-child(3):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(5) ~ li:nth-child(3):hover ~ li:last-child:before {
  top: 40%;
  animation: extentions__gooeyEffect-3__fdXlS 250ms 1;
}
@keyframes extentions__gooeyEffect-3__fdXlS {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(5):nth-child(4):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(5) ~ li:nth-child(4):hover ~ li:last-child:before {
  top: 60%;
  animation: extentions__gooeyEffect-4__FAd1I 250ms 1;
}
@keyframes extentions__gooeyEffect-4__FAd1I {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(5):last-child:hover:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(5) ~ li:last-child:hover:before {
  top: 80%;
  animation: extentions__gooeyEffect-5__B60yV 250ms 1;
}
@keyframes extentions__gooeyEffect-5__B60yV {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(6):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(6) ~ li:hover ~ li:last-child:before {
  opacity: 1;
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(6):last-child:hover:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(6) ~ li:last-child:hover:before {
  opacity: 1;
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(6):nth-child(1):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(6) ~ li:nth-child(1):hover ~ li:last-child:before {
  top: 0%;
  animation: extentions__gooeyEffect-1__F_nSf 250ms 1;
}
@keyframes extentions__gooeyEffect-1__F_nSf {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(6):nth-child(2):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(6) ~ li:nth-child(2):hover ~ li:last-child:before {
  top: 16.6666666667%;
  animation: extentions__gooeyEffect-2__XkPlo 250ms 1;
}
@keyframes extentions__gooeyEffect-2__XkPlo {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(6):nth-child(3):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(6) ~ li:nth-child(3):hover ~ li:last-child:before {
  top: 33.3333333333%;
  animation: extentions__gooeyEffect-3__fdXlS 250ms 1;
}
@keyframes extentions__gooeyEffect-3__fdXlS {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(6):nth-child(4):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(6) ~ li:nth-child(4):hover ~ li:last-child:before {
  top: 50%;
  animation: extentions__gooeyEffect-4__FAd1I 250ms 1;
}
@keyframes extentions__gooeyEffect-4__FAd1I {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(6):nth-child(5):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(6) ~ li:nth-child(5):hover ~ li:last-child:before {
  top: 66.6666666667%;
  animation: extentions__gooeyEffect-5__B60yV 250ms 1;
}
@keyframes extentions__gooeyEffect-5__B60yV {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(6):last-child:hover:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(6) ~ li:last-child:hover:before {
  top: 83.3333333333%;
  animation: extentions__gooeyEffect-6__nHsgX 250ms 1;
}
@keyframes extentions__gooeyEffect-6__nHsgX {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(7):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(7) ~ li:hover ~ li:last-child:before {
  opacity: 1;
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(7):last-child:hover:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(7) ~ li:last-child:hover:before {
  opacity: 1;
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(7):nth-child(1):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(7) ~ li:nth-child(1):hover ~ li:last-child:before {
  top: 0%;
  animation: extentions__gooeyEffect-1__F_nSf 250ms 1;
}
@keyframes extentions__gooeyEffect-1__F_nSf {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(7):nth-child(2):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(7) ~ li:nth-child(2):hover ~ li:last-child:before {
  top: 14.2857142857%;
  animation: extentions__gooeyEffect-2__XkPlo 250ms 1;
}
@keyframes extentions__gooeyEffect-2__XkPlo {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(7):nth-child(3):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(7) ~ li:nth-child(3):hover ~ li:last-child:before {
  top: 28.5714285714%;
  animation: extentions__gooeyEffect-3__fdXlS 250ms 1;
}
@keyframes extentions__gooeyEffect-3__fdXlS {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(7):nth-child(4):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(7) ~ li:nth-child(4):hover ~ li:last-child:before {
  top: 42.8571428571%;
  animation: extentions__gooeyEffect-4__FAd1I 250ms 1;
}
@keyframes extentions__gooeyEffect-4__FAd1I {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(7):nth-child(5):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(7) ~ li:nth-child(5):hover ~ li:last-child:before {
  top: 57.1428571429%;
  animation: extentions__gooeyEffect-5__B60yV 250ms 1;
}
@keyframes extentions__gooeyEffect-5__B60yV {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(7):nth-child(6):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(7) ~ li:nth-child(6):hover ~ li:last-child:before {
  top: 71.4285714286%;
  animation: extentions__gooeyEffect-6__nHsgX 250ms 1;
}
@keyframes extentions__gooeyEffect-6__nHsgX {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(7):last-child:hover:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(7) ~ li:last-child:hover:before {
  top: 85.7142857143%;
  animation: extentions__gooeyEffect-7__yy1MQ 250ms 1;
}
@keyframes extentions__gooeyEffect-7__yy1MQ {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(8):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(8) ~ li:hover ~ li:last-child:before {
  opacity: 1;
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(8):last-child:hover:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(8) ~ li:last-child:hover:before {
  opacity: 1;
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(8):nth-child(1):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(8) ~ li:nth-child(1):hover ~ li:last-child:before {
  top: 0%;
  animation: extentions__gooeyEffect-1__F_nSf 250ms 1;
}
@keyframes extentions__gooeyEffect-1__F_nSf {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(8):nth-child(2):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(8) ~ li:nth-child(2):hover ~ li:last-child:before {
  top: 12.5%;
  animation: extentions__gooeyEffect-2__XkPlo 250ms 1;
}
@keyframes extentions__gooeyEffect-2__XkPlo {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(8):nth-child(3):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(8) ~ li:nth-child(3):hover ~ li:last-child:before {
  top: 25%;
  animation: extentions__gooeyEffect-3__fdXlS 250ms 1;
}
@keyframes extentions__gooeyEffect-3__fdXlS {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(8):nth-child(4):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(8) ~ li:nth-child(4):hover ~ li:last-child:before {
  top: 37.5%;
  animation: extentions__gooeyEffect-4__FAd1I 250ms 1;
}
@keyframes extentions__gooeyEffect-4__FAd1I {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(8):nth-child(5):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(8) ~ li:nth-child(5):hover ~ li:last-child:before {
  top: 50%;
  animation: extentions__gooeyEffect-5__B60yV 250ms 1;
}
@keyframes extentions__gooeyEffect-5__B60yV {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(8):nth-child(6):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(8) ~ li:nth-child(6):hover ~ li:last-child:before {
  top: 62.5%;
  animation: extentions__gooeyEffect-6__nHsgX 250ms 1;
}
@keyframes extentions__gooeyEffect-6__nHsgX {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(8):nth-child(7):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(8) ~ li:nth-child(7):hover ~ li:last-child:before {
  top: 75%;
  animation: extentions__gooeyEffect-7__yy1MQ 250ms 1;
}
@keyframes extentions__gooeyEffect-7__yy1MQ {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(8):last-child:hover:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(8) ~ li:last-child:hover:before {
  top: 87.5%;
  animation: extentions__gooeyEffect-8__SbKuj 250ms 1;
}
@keyframes extentions__gooeyEffect-8__SbKuj {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(9):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(9) ~ li:hover ~ li:last-child:before {
  opacity: 1;
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(9):last-child:hover:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(9) ~ li:last-child:hover:before {
  opacity: 1;
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(9):nth-child(1):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(9) ~ li:nth-child(1):hover ~ li:last-child:before {
  top: 0%;
  animation: extentions__gooeyEffect-1__F_nSf 250ms 1;
}
@keyframes extentions__gooeyEffect-1__F_nSf {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(9):nth-child(2):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(9) ~ li:nth-child(2):hover ~ li:last-child:before {
  top: 11.1111111111%;
  animation: extentions__gooeyEffect-2__XkPlo 250ms 1;
}
@keyframes extentions__gooeyEffect-2__XkPlo {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(9):nth-child(3):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(9) ~ li:nth-child(3):hover ~ li:last-child:before {
  top: 22.2222222222%;
  animation: extentions__gooeyEffect-3__fdXlS 250ms 1;
}
@keyframes extentions__gooeyEffect-3__fdXlS {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(9):nth-child(4):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(9) ~ li:nth-child(4):hover ~ li:last-child:before {
  top: 33.3333333333%;
  animation: extentions__gooeyEffect-4__FAd1I 250ms 1;
}
@keyframes extentions__gooeyEffect-4__FAd1I {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(9):nth-child(5):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(9) ~ li:nth-child(5):hover ~ li:last-child:before {
  top: 44.4444444444%;
  animation: extentions__gooeyEffect-5__B60yV 250ms 1;
}
@keyframes extentions__gooeyEffect-5__B60yV {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(9):nth-child(6):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(9) ~ li:nth-child(6):hover ~ li:last-child:before {
  top: 55.5555555556%;
  animation: extentions__gooeyEffect-6__nHsgX 250ms 1;
}
@keyframes extentions__gooeyEffect-6__nHsgX {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(9):nth-child(7):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(9) ~ li:nth-child(7):hover ~ li:last-child:before {
  top: 66.6666666667%;
  animation: extentions__gooeyEffect-7__yy1MQ 250ms 1;
}
@keyframes extentions__gooeyEffect-7__yy1MQ {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(9):nth-child(8):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(9) ~ li:nth-child(8):hover ~ li:last-child:before {
  top: 77.7777777778%;
  animation: extentions__gooeyEffect-8__SbKuj 250ms 1;
}
@keyframes extentions__gooeyEffect-8__SbKuj {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(9):last-child:hover:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(9) ~ li:last-child:hover:before {
  top: 88.8888888889%;
  animation: extentions__gooeyEffect-9__pt9ei 250ms 1;
}
@keyframes extentions__gooeyEffect-9__pt9ei {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(10):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(10) ~ li:hover ~ li:last-child:before {
  opacity: 1;
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(10):last-child:hover:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(10) ~ li:last-child:hover:before {
  opacity: 1;
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(10):nth-child(1):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(10) ~ li:nth-child(1):hover ~ li:last-child:before {
  top: 0%;
  animation: extentions__gooeyEffect-1__F_nSf 250ms 1;
}
@keyframes extentions__gooeyEffect-1__F_nSf {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(10):nth-child(2):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(10) ~ li:nth-child(2):hover ~ li:last-child:before {
  top: 10%;
  animation: extentions__gooeyEffect-2__XkPlo 250ms 1;
}
@keyframes extentions__gooeyEffect-2__XkPlo {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(10):nth-child(3):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(10) ~ li:nth-child(3):hover ~ li:last-child:before {
  top: 20%;
  animation: extentions__gooeyEffect-3__fdXlS 250ms 1;
}
@keyframes extentions__gooeyEffect-3__fdXlS {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(10):nth-child(4):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(10) ~ li:nth-child(4):hover ~ li:last-child:before {
  top: 30%;
  animation: extentions__gooeyEffect-4__FAd1I 250ms 1;
}
@keyframes extentions__gooeyEffect-4__FAd1I {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(10):nth-child(5):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(10) ~ li:nth-child(5):hover ~ li:last-child:before {
  top: 40%;
  animation: extentions__gooeyEffect-5__B60yV 250ms 1;
}
@keyframes extentions__gooeyEffect-5__B60yV {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(10):nth-child(6):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(10) ~ li:nth-child(6):hover ~ li:last-child:before {
  top: 50%;
  animation: extentions__gooeyEffect-6__nHsgX 250ms 1;
}
@keyframes extentions__gooeyEffect-6__nHsgX {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(10):nth-child(7):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(10) ~ li:nth-child(7):hover ~ li:last-child:before {
  top: 60%;
  animation: extentions__gooeyEffect-7__yy1MQ 250ms 1;
}
@keyframes extentions__gooeyEffect-7__yy1MQ {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(10):nth-child(8):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(10) ~ li:nth-child(8):hover ~ li:last-child:before {
  top: 70%;
  animation: extentions__gooeyEffect-8__SbKuj 250ms 1;
}
@keyframes extentions__gooeyEffect-8__SbKuj {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(10):nth-child(9):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(10) ~ li:nth-child(9):hover ~ li:last-child:before {
  top: 80%;
  animation: extentions__gooeyEffect-9__pt9ei 250ms 1;
}
@keyframes extentions__gooeyEffect-9__pt9ei {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(10):last-child:hover:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(10) ~ li:last-child:hover:before {
  top: 90%;
  animation: extentions__gooeyEffect-10__boXlt 250ms 1;
}
@keyframes extentions__gooeyEffect-10__boXlt {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(11):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(11) ~ li:hover ~ li:last-child:before {
  opacity: 1;
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(11):last-child:hover:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(11) ~ li:last-child:hover:before {
  opacity: 1;
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(11):nth-child(1):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(11) ~ li:nth-child(1):hover ~ li:last-child:before {
  top: 0%;
  animation: extentions__gooeyEffect-1__F_nSf 250ms 1;
}
@keyframes extentions__gooeyEffect-1__F_nSf {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(11):nth-child(2):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(11) ~ li:nth-child(2):hover ~ li:last-child:before {
  top: 9.0909090909%;
  animation: extentions__gooeyEffect-2__XkPlo 250ms 1;
}
@keyframes extentions__gooeyEffect-2__XkPlo {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(11):nth-child(3):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(11) ~ li:nth-child(3):hover ~ li:last-child:before {
  top: 18.1818181818%;
  animation: extentions__gooeyEffect-3__fdXlS 250ms 1;
}
@keyframes extentions__gooeyEffect-3__fdXlS {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(11):nth-child(4):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(11) ~ li:nth-child(4):hover ~ li:last-child:before {
  top: 27.2727272727%;
  animation: extentions__gooeyEffect-4__FAd1I 250ms 1;
}
@keyframes extentions__gooeyEffect-4__FAd1I {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(11):nth-child(5):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(11) ~ li:nth-child(5):hover ~ li:last-child:before {
  top: 36.3636363636%;
  animation: extentions__gooeyEffect-5__B60yV 250ms 1;
}
@keyframes extentions__gooeyEffect-5__B60yV {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(11):nth-child(6):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(11) ~ li:nth-child(6):hover ~ li:last-child:before {
  top: 45.4545454545%;
  animation: extentions__gooeyEffect-6__nHsgX 250ms 1;
}
@keyframes extentions__gooeyEffect-6__nHsgX {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(11):nth-child(7):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(11) ~ li:nth-child(7):hover ~ li:last-child:before {
  top: 54.5454545455%;
  animation: extentions__gooeyEffect-7__yy1MQ 250ms 1;
}
@keyframes extentions__gooeyEffect-7__yy1MQ {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(11):nth-child(8):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(11) ~ li:nth-child(8):hover ~ li:last-child:before {
  top: 63.6363636364%;
  animation: extentions__gooeyEffect-8__SbKuj 250ms 1;
}
@keyframes extentions__gooeyEffect-8__SbKuj {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(11):nth-child(9):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(11) ~ li:nth-child(9):hover ~ li:last-child:before {
  top: 72.7272727273%;
  animation: extentions__gooeyEffect-9__pt9ei 250ms 1;
}
@keyframes extentions__gooeyEffect-9__pt9ei {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(11):nth-child(10):hover ~ li:last-child:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(11) ~ li:nth-child(10):hover ~ li:last-child:before {
  top: 81.8181818182%;
  animation: extentions__gooeyEffect-10__boXlt 250ms 1;
}
@keyframes extentions__gooeyEffect-10__boXlt {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.extentions__navbar__item__hcB2c:first-child:nth-last-child(11):last-child:hover:before, .extentions__navbar__item__hcB2c:first-child:nth-last-child(11) ~ li:last-child:hover:before {
  top: 90.9090909091%;
  animation: extentions__gooeyEffect-11__CVS2P 250ms 1;
}
@keyframes extentions__gooeyEffect-11__CVS2P {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

.extentions__list__awRkr {
  list-style-type: none;
  padding: 0;
}

.extentions__list__awRkr li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.extentions__actions__qhIOM {
  display: flex;
  align-items: center;
}

.extentions__modalLoading__dWb94 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: -500;
}
.extentions__modalLoading__show__ua44V {
  z-index: 500;
  opacity: 1;
}

.extentions__navbar__link_img__oxOIO {
  height: 20px;
  width: 20px;
}

.extentions__wrapperRight__FTtVs {
  width: 100%;
  overflow: auto;
  height: 100%;
}

/*# sourceMappingURL=index.css.map*/