/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/popup/popup.scss ***!
  \***************************************************************************************************************/
body {
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#navbarContainer {
  width: 400px;
  min-width: 400px;
  height: 370px;
  background-color: #ffcc80;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

#navbar {
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: absolute;
}

#bubbleWrapper {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  bottom: 25px;
}

.bubble {
  background-color: #fff;
  width: 50px;
  height: 50px;
  bottom: 85px;
  border-radius: 50%;
  z-index: 1;
  transform: translateY(120%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  opacity: 0;
}

#bubble1 {
  transform: translateY(0%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#bubble1 > span {
  opacity: 0.7;
}

#bgWrapper {
  filter: url(#goo);
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 60px;
}

#bg {
  background-color: #ffcc80;
  width: 120%;
  height: 100%;
  margin-left: -10%;
}

#bgBubble {
  position: absolute;
  background-color: #ffcc80;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  bottom: -50px;
  left: 50px;
  transform: translateX(-50%);
}

#menuWrapper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.menuElement {
  opacity: 0.4;
  transform: translateY(100%);
  cursor: pointer;
}
.menuElement:hover {
  opacity: 0.5;
}

#contentWrapper {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#contentWrapper h2 {
  color: #fff;
  font-family: sans-serif;
  font-weight: 400;
}

.content {
  display: none;
  opacity: 0;
}

.bodyContent {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 78px);
  position: fixed;
  z-index: 10;
  padding: 10px;
  top: 0;
  left: 0;
}

.button.dark {
  --background: #000;
  --shadow: 0 2px 8px -1px rgba(21, 25, 36, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(21, 25, 36, 0.5);
}

.button {
  --background: #275efe;
  --text: #000;
  --font-size: 16px;
  --duration: .44s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
  --font-shadow: var(--font-size);
  padding: 16px 32px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: var(--font-size);
  display: block;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  background: var(--background);
  color: var(--text);
  width: 100%;
  box-shadow: var(--shadow);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
}
.button div {
  display: flex;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 var(--text);
}
.button div span {
  display: block;
  backface-visibility: hidden;
  font-style: normal;
  transition: transform var(--duration) ease;
  transform: translateY(var(--m)) translateZ(0);
}
.button div span:nth-child(1) {
  transition-delay: 0.05s;
}
.button div span:nth-child(2) {
  transition-delay: 0.1s;
}
.button div span:nth-child(3) {
  transition-delay: 0.15s;
}
.button div span:nth-child(4) {
  transition-delay: 0.2s;
}
.button div span:nth-child(5) {
  transition-delay: 0.25s;
}
.button div span:nth-child(6) {
  transition-delay: 0.3s;
}
.button div span:nth-child(7) {
  transition-delay: 0.35s;
}
.button div span:nth-child(8) {
  transition-delay: 0.4s;
}
.button div span:nth-child(9) {
  transition-delay: 0.45s;
}
.button div span:nth-child(10) {
  transition-delay: 0.5s;
}
.button div span:nth-child(11) {
  transition-delay: 0.55s;
}
.button:hover {
  --y: var(--move-hover);
  --shadow: var(--shadow-hover);
}
.button:hover span {
  --m: calc(var(--font-size) * -1);
}
.button.reverse {
  --font-shadow: calc(var(--font-size) * -1);
}
.button.reverse:hover span {
  --m: calc(var(--font-size));
}

.dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}
.dribbble img {
  display: block;
  height: 28px;
}

@keyframes shopWarnPush {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  70% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
.wrapperWarnign {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  animation: shopWarnPush 3s;
  animation-fill-mode: forwards;
}
/*!**************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/popup/comonents/screens/Setting/Setting.module.scss ***!
  \**************************************************************************************************************************************************/
.Eu_eKDv69rVKm0JGgH0J {
  width: 100%;
  height: 100%;
}
.Eu_eKDv69rVKm0JGgH0J h1 {
  text-align: center;
  font-size: 22px;
}

.jewnrXBW94zWJ2bLTyI4 {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
/*!******************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/componets/ButtonInPopupAnim/ButtonInPopupAnim.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************/
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

.extentions__buttonActions__bdtsh.extentions__dark__yRmEw {
  --background: #fafbfd;
  --shadow: 0 2px 8px -1px rgba(21, 25, 36, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(21, 25, 36, 0.5);
}

.extentions__buttonActions__bdtsh {
  --background: #275efe;
  --text: #000;
  --font-size: 16px;
  --duration: .44s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
  --font-shadow: var(--font-size);
  padding: 16px 32px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: var(--font-size);
  display: block;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  background: var(--background);
  color: var(--text);
  width: 100%;
  box-shadow: var(--shadow);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
}
.extentions__buttonActions__bdtsh div {
  display: flex;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 var(--text);
}
.extentions__buttonActions__bdtsh div span {
  display: block;
  backface-visibility: hidden;
  font-style: normal;
  transition: transform var(--duration) ease;
  transform: translateY(var(--m)) translateZ(0);
}
.extentions__buttonActions__bdtsh div span:nth-child(1) {
  transition-delay: 0.05s;
}
.extentions__buttonActions__bdtsh div span:nth-child(2) {
  transition-delay: 0.1s;
}
.extentions__buttonActions__bdtsh div span:nth-child(3) {
  transition-delay: 0.15s;
}
.extentions__buttonActions__bdtsh div span:nth-child(4) {
  transition-delay: 0.2s;
}
.extentions__buttonActions__bdtsh div span:nth-child(5) {
  transition-delay: 0.25s;
}
.extentions__buttonActions__bdtsh div span:nth-child(6) {
  transition-delay: 0.3s;
}
.extentions__buttonActions__bdtsh div span:nth-child(7) {
  transition-delay: 0.35s;
}
.extentions__buttonActions__bdtsh div span:nth-child(8) {
  transition-delay: 0.4s;
}
.extentions__buttonActions__bdtsh div span:nth-child(9) {
  transition-delay: 0.45s;
}
.extentions__buttonActions__bdtsh div span:nth-child(10) {
  transition-delay: 0.5s;
}
.extentions__buttonActions__bdtsh div span:nth-child(11) {
  transition-delay: 0.55s;
}
.extentions__buttonActions__bdtsh:hover {
  --y: var(--move-hover);
  --shadow: var(--shadow-hover);
}
.extentions__buttonActions__bdtsh:hover span {
  --m: calc(var(--font-size) * -1);
}
.extentions__buttonActions__bdtsh.extentions__reverse__LM8XG {
  --font-shadow: calc(var(--font-size) * -1);
}
.extentions__buttonActions__bdtsh.extentions__reverse__LM8XG:hover span {
  --m: calc(var(--font-size));
}

.extentions__buttonActions__bdtsh {
  cursor: pointer;
}

.extentions__button__Xn3hg.extentions__dark__yRmEw {
  --background: #000;
  --shadow: 0 2px 8px -1px rgba(21, 25, 36, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(21, 25, 36, 0.5);
}

.extentions__button__Xn3hg {
  --background: #275efe;
  --text: #000;
  --font-size: 16px;
  --duration: .44s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
  --font-shadow: var(--font-size);
  padding: 16px 32px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: var(--font-size);
  display: block;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  background: var(--background);
  color: var(--text);
  width: 100%;
  box-shadow: var(--shadow);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
}
.extentions__button__Xn3hg div {
  display: flex;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 var(--text);
}
.extentions__button__Xn3hg div span {
  display: block;
  backface-visibility: hidden;
  font-style: normal;
  transition: transform var(--duration) ease;
  transform: translateY(var(--m)) translateZ(0);
}
.extentions__button__Xn3hg div span:nth-child(1) {
  transition-delay: 0.05s;
}
.extentions__button__Xn3hg div span:nth-child(2) {
  transition-delay: 0.1s;
}
.extentions__button__Xn3hg div span:nth-child(3) {
  transition-delay: 0.15s;
}
.extentions__button__Xn3hg div span:nth-child(4) {
  transition-delay: 0.2s;
}
.extentions__button__Xn3hg div span:nth-child(5) {
  transition-delay: 0.25s;
}
.extentions__button__Xn3hg div span:nth-child(6) {
  transition-delay: 0.3s;
}
.extentions__button__Xn3hg div span:nth-child(7) {
  transition-delay: 0.35s;
}
.extentions__button__Xn3hg div span:nth-child(8) {
  transition-delay: 0.4s;
}
.extentions__button__Xn3hg div span:nth-child(9) {
  transition-delay: 0.45s;
}
.extentions__button__Xn3hg div span:nth-child(10) {
  transition-delay: 0.5s;
}
.extentions__button__Xn3hg div span:nth-child(11) {
  transition-delay: 0.55s;
}
.extentions__button__Xn3hg:hover {
  --y: var(--move-hover);
  --shadow: var(--shadow-hover);
}
.extentions__button__Xn3hg:hover span {
  --m: calc(var(--font-size) * -1);
}
.extentions__button__Xn3hg.extentions__reverse__LM8XG {
  --font-shadow: calc(var(--font-size) * -1);
}
.extentions__button__Xn3hg.extentions__reverse__LM8XG:hover span {
  --m: calc(var(--font-size));
}

/*# sourceMappingURL=popup.css.map*/