/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/popup/popup.scss ***!
  \***************************************************************************************************************/
body {
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#navbarContainer {
  width: 400px;
  min-width: 400px;
  height: 370px;
  background-color: #ffcc80;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

#navbar {
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: absolute;
}

#bubbleWrapper {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  bottom: 25px;
}

.bubble {
  background-color: #fff;
  width: 50px;
  height: 50px;
  bottom: 85px;
  border-radius: 50%;
  z-index: 1;
  transform: translateY(120%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  opacity: 0;
}

#bubble1 {
  transform: translateY(0%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#bubble1 > span {
  opacity: 0.7;
}

#bgWrapper {
  filter: url(#goo);
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 60px;
}

#bg {
  background-color: #ffcc80;
  width: 120%;
  height: 100%;
  margin-left: -10%;
}

#bgBubble {
  position: absolute;
  background-color: #ffcc80;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  bottom: -50px;
  left: 50px;
  transform: translateX(-50%);
}

#menuWrapper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.menuElement {
  opacity: 0.4;
  transition: all 0.4s;
  transform: translateY(100%);
  cursor: pointer;
  width: 30px;
  height: 19px;
}
.menuElement:hover {
  opacity: 1;
}

#contentWrapper {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#contentWrapper h2 {
  color: #fff;
  font-family: sans-serif;
  font-weight: 400;
}

.content {
  display: none;
  opacity: 0;
}

.bodyContent {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 78px);
  position: fixed;
  z-index: 10;
  padding: 10px;
  top: 0;
  left: 0;
}

.button.dark {
  --background: #000;
  --shadow: 0 2px 8px -1px rgba(21, 25, 36, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(21, 25, 36, 0.5);
}

.button {
  --background: #275efe;
  --text: #000;
  --font-size: 16px;
  --duration: .44s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
  --font-shadow: var(--font-size);
  padding: 16px 32px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: var(--font-size);
  display: block;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  background: var(--background);
  color: var(--text);
  width: 100%;
  box-shadow: var(--shadow);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
}
.button div {
  display: flex;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 var(--text);
}
.button div span {
  display: block;
  backface-visibility: hidden;
  font-style: normal;
  transition: transform var(--duration) ease;
  transform: translateY(var(--m)) translateZ(0);
}
.button div span:nth-child(1) {
  transition-delay: calc(0.05 + s);
}
.button div span:nth-child(2) {
  transition-delay: calc(0.1 + s);
}
.button div span:nth-child(3) {
  transition-delay: calc(0.15 + s);
}
.button div span:nth-child(4) {
  transition-delay: calc(0.2 + s);
}
.button div span:nth-child(5) {
  transition-delay: calc(0.25 + s);
}
.button div span:nth-child(6) {
  transition-delay: calc(0.3 + s);
}
.button div span:nth-child(7) {
  transition-delay: calc(0.35 + s);
}
.button div span:nth-child(8) {
  transition-delay: calc(0.4 + s);
}
.button div span:nth-child(9) {
  transition-delay: calc(0.45 + s);
}
.button div span:nth-child(10) {
  transition-delay: calc(0.5 + s);
}
.button div span:nth-child(11) {
  transition-delay: calc(0.55 + s);
}
.button:hover {
  --y: var(--move-hover);
  --shadow: var(--shadow-hover);
}
.button:hover span {
  --m: calc(var(--font-size) * -1);
}
.button.reverse {
  --font-shadow: calc(var(--font-size) * -1);
}
.button.reverse:hover span {
  --m: calc(var(--font-size));
}

.dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}
.dribbble img {
  display: block;
  height: 28px;
}

@keyframes shopWarnPush {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  70% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
.wrapperWarning {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  animation: shopWarnPush 3s;
  animation-fill-mode: forwards;
}
/*!****************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/simple/ButtonInPopupAnim/ButtonInPopupAnim.module.scss ***!
  \****************************************************************************************************************************************************************/
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

.LdU0YdXte3UUM2zApnaP.VinJJf3F5BB016Zhsavs {
  --background: #fafbfd;
  --shadow: 0 2px 8px -1px rgba(21, 25, 36, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(21, 25, 36, 0.5);
}

.LdU0YdXte3UUM2zApnaP {
  --background: #275efe;
  --text: #000;
  --font-size: 16px;
  --duration: .44s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
  --font-shadow: var(--font-size);
  padding: 16px 32px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: var(--font-size);
  display: block;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  background: var(--background);
  color: var(--text);
  width: 100%;
  box-shadow: var(--shadow);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
}
.LdU0YdXte3UUM2zApnaP div {
  display: flex;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 var(--text);
}
.LdU0YdXte3UUM2zApnaP div span {
  display: block;
  backface-visibility: hidden;
  font-style: normal;
  transition: transform var(--duration) ease;
  transform: translateY(var(--m)) translateZ(0);
}
.LdU0YdXte3UUM2zApnaP div span:nth-child(1) {
  transition-delay: 0.05s;
}
.LdU0YdXte3UUM2zApnaP div span:nth-child(2) {
  transition-delay: 0.1s;
}
.LdU0YdXte3UUM2zApnaP div span:nth-child(3) {
  transition-delay: 0.15s;
}
.LdU0YdXte3UUM2zApnaP div span:nth-child(4) {
  transition-delay: 0.2s;
}
.LdU0YdXte3UUM2zApnaP div span:nth-child(5) {
  transition-delay: 0.25s;
}
.LdU0YdXte3UUM2zApnaP div span:nth-child(6) {
  transition-delay: 0.3s;
}
.LdU0YdXte3UUM2zApnaP div span:nth-child(7) {
  transition-delay: 0.35s;
}
.LdU0YdXte3UUM2zApnaP div span:nth-child(8) {
  transition-delay: 0.4s;
}
.LdU0YdXte3UUM2zApnaP div span:nth-child(9) {
  transition-delay: 0.45s;
}
.LdU0YdXte3UUM2zApnaP div span:nth-child(10) {
  transition-delay: 0.5s;
}
.LdU0YdXte3UUM2zApnaP div span:nth-child(11) {
  transition-delay: 0.55s;
}
.LdU0YdXte3UUM2zApnaP:hover {
  --y: var(--move-hover);
  --shadow: var(--shadow-hover);
}
.LdU0YdXte3UUM2zApnaP:hover span {
  --m: calc(var(--font-size) * -1);
}
.LdU0YdXte3UUM2zApnaP.t2KwffiDKI33JokQfsOj {
  --font-shadow: calc(var(--font-size) * -1);
}
.LdU0YdXte3UUM2zApnaP.t2KwffiDKI33JokQfsOj:hover span {
  --m: calc(var(--font-size));
}

.LdU0YdXte3UUM2zApnaP {
  cursor: pointer;
}

.ArhEIVGW_QZ48dXkYzHB.VinJJf3F5BB016Zhsavs {
  --background: #000;
  --shadow: 0 2px 8px -1px rgba(21, 25, 36, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(21, 25, 36, 0.5);
}

.ArhEIVGW_QZ48dXkYzHB {
  --background: #275efe;
  --text: #000;
  --font-size: 16px;
  --duration: .44s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
  --font-shadow: var(--font-size);
  padding: 16px 32px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: var(--font-size);
  display: block;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  background: var(--background);
  color: var(--text);
  width: 100%;
  box-shadow: var(--shadow);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
}
.ArhEIVGW_QZ48dXkYzHB div {
  display: flex;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 var(--text);
}
.ArhEIVGW_QZ48dXkYzHB div span {
  display: block;
  backface-visibility: hidden;
  font-style: normal;
  transition: transform var(--duration) ease;
  transform: translateY(var(--m)) translateZ(0);
}
.ArhEIVGW_QZ48dXkYzHB div span:nth-child(1) {
  transition-delay: 0.05s;
}
.ArhEIVGW_QZ48dXkYzHB div span:nth-child(2) {
  transition-delay: 0.1s;
}
.ArhEIVGW_QZ48dXkYzHB div span:nth-child(3) {
  transition-delay: 0.15s;
}
.ArhEIVGW_QZ48dXkYzHB div span:nth-child(4) {
  transition-delay: 0.2s;
}
.ArhEIVGW_QZ48dXkYzHB div span:nth-child(5) {
  transition-delay: 0.25s;
}
.ArhEIVGW_QZ48dXkYzHB div span:nth-child(6) {
  transition-delay: 0.3s;
}
.ArhEIVGW_QZ48dXkYzHB div span:nth-child(7) {
  transition-delay: 0.35s;
}
.ArhEIVGW_QZ48dXkYzHB div span:nth-child(8) {
  transition-delay: 0.4s;
}
.ArhEIVGW_QZ48dXkYzHB div span:nth-child(9) {
  transition-delay: 0.45s;
}
.ArhEIVGW_QZ48dXkYzHB div span:nth-child(10) {
  transition-delay: 0.5s;
}
.ArhEIVGW_QZ48dXkYzHB div span:nth-child(11) {
  transition-delay: 0.55s;
}
.ArhEIVGW_QZ48dXkYzHB:hover {
  --y: var(--move-hover);
  --shadow: var(--shadow-hover);
}
.ArhEIVGW_QZ48dXkYzHB:hover span {
  --m: calc(var(--font-size) * -1);
}
.ArhEIVGW_QZ48dXkYzHB.t2KwffiDKI33JokQfsOj {
  --font-shadow: calc(var(--font-size) * -1);
}
.ArhEIVGW_QZ48dXkYzHB.t2KwffiDKI33JokQfsOj:hover span {
  --m: calc(var(--font-size));
}
/*!******************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/simple/SimpleButton/SimpleButton.module.scss ***!
  \******************************************************************************************************************************************************/
.fSW73w9wzlLVCzwIhWiS {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
}
.fSW73w9wzlLVCzwIhWiS span {
  color: #fff;
}
/*!***************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/popup/page/AllowUrl/AllowUrl.module.scss ***!
  \***************************************************************************************************************************************/

/*!******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/simple/DropDownEditValues/DropDownEditValues.module.scss ***!
  \******************************************************************************************************************************************************************/
.XKESgmL5zlh5h_bExiJb {
  display: flex;
  align-items: center;
}

.QxtbGDRsdC2e2G_9ZK9B {
  background: rgb(198, 70, 70);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
/*!****************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/simple/InputWithUnderLineColor/InputWithUnderLineColor.module.scss ***!
  \****************************************************************************************************************************************************************************/
.MfeeGEI_HxxpqW_4KlUk {
  color: #000;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
}

.fA2DPAIwlVzQ8nlOTHPB {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.MfeeGEI_HxxpqW_4KlUk:focus {
  outline: none;
}

.MfeeGEI_HxxpqW_4KlUk:focus + .fA2DPAIwlVzQ8nlOTHPB {
  width: 100%;
}

.ovvW9h_1NqlvnWVjJVs3 {
  position: relative;
  --width-of-input: 300px;
}

.GZgEZ_0AmhX_i2pzzzhM {
  font-size: 1.2rem;
  padding-inline: 1em;
  padding-block: 0.8em;
}

.FHcUZHtwh4lV_Bi6_yIv {
  height: 3px;
  background: #31556f;
  transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.GZgEZ_0AmhX_i2pzzzhM:focus + .FHcUZHtwh4lV_Bi6_yIv {
  width: 100%;
}
/*!*************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/popup/page/Setting/Setting.module.scss ***!
  \*************************************************************************************************************************************/
.jfP0wSlYYdBMgdJ5VxFR {
  width: 100%;
  height: 100%;
}
.jfP0wSlYYdBMgdJ5VxFR h1 {
  text-align: center;
  font-size: 22px;
}

.f9C6LVmnXDKpD6m4cWU5 {
  position: relative;
}

.eH1F1Iyw8W0l_PNnoErl {
  position: absolute;
  left: 0;
  top: 0;
}

/*# sourceMappingURL=popup.css.map*/